/* Styles */
body {
      font-family: monospace;
      background: #1e1e1f;
      max-width: 75%;
      margin: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

header {
    width: 100%;
}

footer {
    width: 100%;
}

.topbar {
    display: inline-flex;
    align-items: center;
}

.topbarImage {
    width: 50px;
    height: 50px;
    padding-right: 20px
}
.profilePicContainer {
    width: 100%; 
    align-self: center; 
    display: flex; 
    justify-content: center;
}

.profilePic {
  border-radius: 50%; 
  width: 400px; 
  max-width: 80%;
}

h1 {
  font-family: monospace;
  color: #84868e;
  font-size: 300%;
  text-align:left;
}

h2 {
  font-family: monospace;
  color: #84868e;
  font-size: 250%;
  text-align:left;
}

p {
  font-family: monospace;
  color: #84868e;
  font-size: 190%;
}

hr {
  color: #84868e;
}

p.articleTitle {
  font-family: monospace;
  color: #84868e;
  font-size: 180%;

}

li.article {
  font-family: monospace;
  color: #84868e;
  font-size: 225%;
}

ul.article {
    text-align: left;

}
li.links {
    display: inline-block;
    width: 240px;
    vertical-align: top;

}

ul.links {
    text-align: center;
    list-style: none;
    padding-left: 0;

}


.frontpageSplitSpan {
    display: inline-block;
    flex-shrink: inherit;
    vertical-align: text-top;
    }

#wrapper {
    display: flex; /* Magic begins! */
    height: 100px;
}
#left {
width: 80%; /* Desired width. Will be less is the window is narrow */
}
#right {
width: auto;  /* Desired width. Will be less is the window is narrow */
margin-left: auto; /* Push it to the right */
}
#wrapper > div > div { /* Unrelated styles */
float: left;
}